<div class="container">
  <div style="text-align: center;margin: 5%;"><h1>Registro de Forums</h1></div>
  <div style="text-align: center;margin: 5%;">
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field *ngIf="edicion">
        <mat-label>Codigo</mat-label>
        <input matInput formControlName="codigo" />
        <mat-error *ngIf="form.get('idForum')?.hasError('required')">
          El codigo es obligatorio!!
        </mat-error>
      </mat-form-field>

      <div>
        <mat-form-field>
          <mat-label>Nombre de Foro</mat-label>
          <input matInput formControlName="nameForum" />
          <mat-error *ngIf="form.get('nameForum')?.hasError('required')">
            El nombre es obligatorio!!
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Escoger un día</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateForum" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('dateForum')?.hasError('required')">
          La fecha es obligatoria!!
        </mat-error>
      </mat-form-field>
      <div>
        <mat-form-field>
          <mat-label>Contenido o descripcion</mat-label>
          <input matInput formControlName="contentForum" />
          <mat-error *ngIf="form.get('contentForum')?.hasError('required')">
            El contenido es obligatorio!!
          </mat-error>
        </mat-form-field>
      </div>
      <button matButton="elevated">Registrar</button>
    </form>
  </div>
</div>
