<div class="page-container">
  <h1 class="title">Registrar Usuario</h1>

  <form [formGroup]="form" (submit)="aceptar()" class="form-container">

    <!-- Código (solo si edita) -->
    <mat-form-field appearance="outline" *ngIf="edicion" class="form-field">
      <mat-label>Código</mat-label>
      <input matInput formControlName="codigo" />
      <mat-error *ngIf="form.get('codigo')?.hasError('required')">
        El código es obligatorio!!
      </mat-error>
    </mat-form-field>

    <!-- Username -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nombre del usuario</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="form.get('username')?.hasError('required')">
        El nombre de usuario es obligatorio!!
      </mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="form.get('email')?.hasError('required')">
        El email es obligatorio!!
      </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="form.get('password')?.hasError('required')">
        La contraseña es obligatoria!!
      </mat-error>
    </mat-form-field>

    <!-- Estado -->
    <div class="form-group-radio">
      <label class="radio-label">Estado</label>
      <mat-radio-group formControlName="enabled" class="radio-group">
        <mat-radio-button [value]="true">Activo</mat-radio-button>
        <mat-radio-button [value]="false">Inactivo</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="form.get('enabled')?.hasError('required')">
        El estado es obligatorio!!
      </mat-error>
    </div>

    <!-- Botones -->
    <div class="button-group">
      <button type="submit" class="soft-btn green">Registrar</button>
      <button type="button" class="soft-btn gray" (click)="cancelar()">Cancelar</button>
    </div>

  </form>
</div>
