<div class="container">
  <div style="text-align: center;margin: 5%;"><h1>Registro de Descripcion</h1></div>
  <div style="text-align: center;margin: 5%;">
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field *ngIf="edicion">
        <mat-label>Codigo</mat-label>
        <input matInput formControlName="codigo" />
        <mat-error *ngIf="form.get('idMissionReward')?.hasError('required')">
          El codigo es obligatorio!!
        </mat-error>
      </mat-form-field>
      <div>
        <mat-form-field>
          <mat-label>Descripcion</mat-label>
          <input matInput formControlName="description" />
          <mat-error *ngIf="form.get('description')?.hasError('required')">
            La Descripcion es obligatorio!!
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-button="elevated">Registrar</button>
      <br />
      <button mat-button color="elevated" type="button" (click)="cancelar()">
        Cancelar
    </button>
    </form>
  </div>
</div>


