<div class="page-container">
  <h1 class="title">Registro de Misión y Recompensa</h1>

  <div class="form-container">
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field *ngIf="edicion" appearance="outline" class="form-field">
        <mat-label>Código</mat-label>
        <input matInput formControlName="codigo" />
        <mat-error *ngIf="form.get('idMissionReward')?.hasError('required')">
          El código es obligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="description" />
        <mat-error *ngIf="form.get('description')?.hasError('required')">
          La descripción es obligatoria.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Seleccione misión</mat-label>
        <mat-select formControlName="mission">
          @for (api of listaMission; track api) {
            <mat-option [value]="api.idMission">{{ api.nameMission }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('mission')?.hasError('required')">
          La misión es obligatoria.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Seleccione recompensa</mat-label>
        <mat-select formControlName="reward">
          @for (api of listaReward; track api) {
            <mat-option [value]="api.idReward">{{ api.nameReward }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('reward')?.hasError('required')">
          La recompensa es obligatoria.
        </mat-error>
      </mat-form-field>

      <div class="button-group">
        <button class="soft-btn green" type="submit">Registrar</button>
        <button class="soft-btn gray" type="button" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
