<mat-toolbar class="custom-toolbar">
  <div>
    <button mat-button [matMenuTriggerFor]="menuUser" class="btn-rojo">
      <mat-icon>person</mat-icon>
      Usuarios
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuRol" class="btn-rojo">
      <mat-icon>person</mat-icon>
      Roles
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuForum" class="btn-rojo">
      <mat-icon>forum</mat-icon>
      Foros
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuDonation" class="btn-rojo">
      <mat-icon>money</mat-icon>
      Donaciones
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuReward" class="btn-rojo">
      <mat-icon>star</mat-icon>
      Recompensas
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuMission" class="btn-rojo">
      <mat-icon>assignment</mat-icon>
      Misiones
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuMissionReward" class="btn-rojo">
      <mat-icon>dashboard</mat-icon>
      Misiones Recompensas
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuTypeDonations" class="btn-rojo">
      <mat-icon>clear_all</mat-icon>
      Tipos de Donaciones
    </button>
  </div>
   <div>
    <button mat-button [matMenuTriggerFor]="menuCampaign" class="btn-rojo">
      <mat-icon>clear_all</mat-icon>
      Campaña
    </button>
  </div>
   <div>
    <button mat-button [matMenuTriggerFor]="menuComment" class="btn-rojo">
      <mat-icon>clear_all</mat-icon>
      Comentarios
    </button>
  </div>
   <div>
    <button mat-button [matMenuTriggerFor]="menuVolunteering" class="btn-rojo">
      <mat-icon>clear_all</mat-icon>
      Voluntariado
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuReportes" class="btn-rojo">
      <mat-icon>clear_all</mat-icon>
      Reportes
    </button>
  </div>
</mat-toolbar>
<mat-menu #menuForum="matMenu">
  <button mat-menu-item routerLink="/forums">Listar</button>
  <button mat-menu-item routerLink="/forums/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuDonation="matMenu">
  <button mat-menu-item routerLink="/donations">Listar</button>
  <button mat-menu-item routerLink="/donations/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuUser="matMenu">
  <button mat-menu-item routerLink="/users">Listar</button>
  <button mat-menu-item routerLink="/users/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuReward="matMenu">
  <button mat-menu-item routerLink="/rewards">Listar</button>
  <button mat-menu-item routerLink="/rewards/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuMission="matMenu">
  <button mat-menu-item routerLink="/mission">Listar</button>
  <button mat-menu-item routerLink="/mission/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuMissionReward="matMenu">
  <button mat-menu-item routerLink="/missionreward">Listar</button>
  <button mat-menu-item routerLink="/missionreward/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuTypeDonations="matMenu">
  <button mat-menu-item routerLink="/typedonations">Listar</button>
  <button mat-menu-item routerLink="/typedonations/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuCampaign="matMenu">
  <button mat-menu-item routerLink="/campaign">Listar</button>
  <button mat-menu-item routerLink="/campaign/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuComment="matMenu">
  <button mat-menu-item routerLink="/comments">Listar</button>
  <button mat-menu-item routerLink="/comments/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuVolunteering="matMenu">
  <button mat-menu-item routerLink="/volunteering">Listar</button>
  <button mat-menu-item routerLink="/volunteering/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuReportes="matMenu">
  <button mat-menu-item routerLink="/reportes/hu54">Reporte HU54</button>
  <button mat-menu-item routerLink="/reportes/hu55">Reporte HU55</button>
  <button mat-menu-item routerLink="/reportes/hu56">Reporte HU56</button>
  <button mat-menu-item routerLink="/reportes/hu57">Reporte HU57</button>
  <button mat-menu-item routerLink="/reportes/hu58">Reporte HU58</button>
  <button mat-menu-item routerLink="/reportes/hu59">Reporte HU59</button>
  <button mat-menu-item routerLink="/reportes/hu60">Reporte HU60</button>
</mat-menu>
<mat-menu #menuRol="matMenu">
  <button mat-menu-item routerLink="/rols">Listar</button>
  <button mat-menu-item routerLink="/rols/nuevo">Registrar</button>
</mat-menu>
